<div class="container-fluid">
    <div class="card-header">
        <h3>
            <i class="fas fa-globe-americas"></i>&nbsp;&nbsp; Regiones
            <button (click)="createRegion()" style=" float:right" type="button" class="btn btn-success bt-sm">Agregar región<i class="fas fa-plus"></i></button>
        </h3>
    </div>
    <div class="card-body">
    
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Región</th>
                        <th class="text-center"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let region of regions">
                        <td class="text-center">{{region.region}}</td>
                        <td>
                            <button (click)="updateRegion(region)" type="button" class="btn btn-primary bt-sm"> 
                                <i class="fas fa-edit"></i>Actualizar</button>
                                &nbsp;&nbsp;
                            <button (click)="deleteRegion(region.id_region)" type="button" class="btn btn-danger bt-sm"> 
                                <i class="fas fa-trash"></i>Eliminar</button>
                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="region_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Región</h5>
          <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="region">Ingresa el nombre de la región <span class="text-danger">*</span></label>
                    <input type="text" class="form-control marginForm" id="region" formControlName="region" placeholder="Región ...">
                    <div *ngIf ="submitted && f.region.errors">
                        <div *ngIf="f.region.errors.required">
                            <span class="text-danger">El nombre de la región es obligatorio</span>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <p class="text-rigth"><span class="text-danger">*</span>Campos oblogatorios</p>
                    <button type="submit" class="btn btn-success btn-block">Registrar</button>
                </div>
            </form>
        </div>


        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  