<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>

<div class="container">
    <div class="row py-5">
        <form method="post" th:action="@{/orden/crear}">
            <div class="custom-control custom-checkbox" th:each="alimento : ${alimentos}">
                <input class="custom-control-input" type="checkbox" name="idAlimentos"
                       th:value="${alimento.getId()}" th:id="${alimento.getId()}">
                <label class="custom-control-label" th:for="${alimento.getId()}"
                       th:text="${alimento.getNombre()}"></label>
            </div>
            <button class="btn btn-success" type="submit">CREAR</button>
        </form>
    </div>
</div>

<div th:replace="fragments :: bootstrap-js"></div>
</body>
</html>
